.top-bar {
    display: flex;
    flex-direction: row;
    background-color: #3af;
    border-bottom: 2px solid black;
    position: absolute;
}

.top-bar * {
    margin: 10px 10px;
}

#draw {
    display: block;
    border: 2px solid black;
}